body{
    background-image:  url("foto/bod.jpg");
}
.ustbar{
    width: auto;
    height: 80px;
    background-color: #282D3C;
    border-radius: 15px;
    text-align: center;
}
.p1{
    width: 1000px;
    height: 700px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:  url("foto/p1.png");
    margin-left: auto;
    margin-right: auto;
}
.tat_b{
    width: 120px;
    height: 50px;
    border-radius: 15px;
    border: none;
    margin-left: 690px;
    margin-top: 300px;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #282D3C;
    color: aliceblue;
}
.tat_b:hover{
    box-shadow: 1px 1px 20px;
}
.justwannadie{
    width: 1px;
    height: 1px;
}
a{
    text-decoration: none;
}
.mp1{
    font-size: 26px;
    color: aliceblue;
}
.mp1:hover{
    color: rgb(255, 240, 240);
    text-shadow: 1px 1px 10px;
}
.mp2{
    font-size: 20px;
    color: aliceblue;
    margin-top: -55px;
    /*margin-left: 600px;*/
    width: 100px;
}
.mp2:hover{
    color: rgb(255, 240, 240);
    text-shadow: 1px 1px 10px;
}
.p2{
    width: 1000px;
    height: 700px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:  url("foto/p2.png");
    margin-left: auto;
    margin-right: auto;
}
.ich_b{
    width: 120px;
    height: 50px;
    border-radius: 15px;
    border: none;
    margin-left: 690px;
    margin-top: 300px;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #282D3C;
    color: aliceblue;
}
.ich_b:hover{
    box-shadow: 1px 1px 20px;
}
